@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron">
  <h1 class="display-4">Welcome to MoviePlanet</h1>
  <p class="lead">.</p>
  <hr class="my-4">
  <p>You can finally find your favorite movies and series with easy while also having friends.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" asp-controller="Home" >Learn more</a>
</div>

<p></p>
